* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(62, 62, 62);
}

header {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    padding: 1.5em;
    align-items: center;
}

ul {
    list-style: none;
    /* padding-top: 2em; */
}

li {
    text-align: center;
    padding: .5em;
    font-size: 1.5em;
    transition: 1s;
}

li:hover {
    border-bottom: 1px solid black;
} 

a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.section-1 {
    /* background-color: burlywood; */
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
}

.div {
    background-color: #fff;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.image {
    width: 80%;
}

.img {
    width: 100%;
    height: auto;
}

.hbtn {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

button {
    font-size: 1em;
    padding: .8em;
    border-radius: 1em;
    height: 50%;
    transition: 1s;

}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
}

button:hover {
    color: white; 
    background-color: rgb(62, 62, 62); 
}


@media only screen and (min-width:900px)  {

    header {
        display: flex;
        max-width: 100%;
        /* flex-direction: row; */
        padding: .1;
        justify-content: space-between;
    }

    ul {
        display: flex;
        padding-top: 0;
    }


    .section-1 {
        display: flex;
        flex-direction: row;
        width: 100%; 
        justify-content: space-evenly;   
    }

    .div {
        width: 28%;
        display: flex;
    }

}





